/.externals
*.swp
*.core
/dev/target
/dev/zbuild
/dev/so_5
/dev/asio
/dev/asio_mxxru
/dev/doctest
/dev/__*.vim
/dev/local-build.rb
/dev/doc
/dev/*.log
/dev/__*.?pp
/dev/__*.vim
/dev/__*.rb
o/*
cmake_build*
*.sublime-project
*.sublime-workspace

